body {
  background-color: teal;
  color: lavender;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 10px 30px 10px 30px; /* top, right, bottom, left */
  /* text-align: center; */
}

h1 {
  font-size: 40px;
  font-family: 'Charcoal', sans-serif;
  color: pink;
  font-variant: small-caps;
}

h2 {
  color: black;
}

a {
  color: purple;
}

div {
  border-bottom: 1px dashed pink;
}

#bio {
  border-bottom: 2px solid teal;
}

.pop {
  color: lightcoral;
}

.past {
  height: 250px;
}

.present {
  height: 300px;
}

.caption {
  font-size: 12px;
  font-style: italic;;
}

.Pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
